/* typography css */
body {
    font-family: sans-serif;
}

h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: black;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 26px;
    font-weight: 500;
    line-height: 40px;
    color: tomato;
    text-align: left;
}
h3{
    text-align: right;
}